.container {
	display: flex;
	gap: 60px;
	padding: 120px 340px;
}

.menu_list {
	width: 320px;
	margin-top: 0;
	padding: 0;
	list-style-type: none;
}

.menu_item {
	display: flex;
	align-items: center;
	width: 100%;
	height: 64px;
	color: var(--text-inactive-color);
	font-weight: 700;
	font-size: 24px;
	line-height: 1.25;
	cursor: pointer;
}

.left_side_description {
	display: block;
	width: 320px;
	color: var(--text-inactive-color);
	opacity: 0.4;
}

.active {
	color: var(--text-primary-color);
}

.menu_button {
	margin: 0;
	padding: 0;
	color: inherit;
	font-weight: inherit;
	font-size: inherit;
	background: none;
	border: none;
	cursor: pointer;
}
