h3 {
	margin: 40px 0 24px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.1;
}

.ingredientsContainer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 24px 32px;
	padding: 24px 16px 0;
}
